{% extends "layout.html" %}
{% block content %}
<form action="/confirm" method="POST">
<div class="mx-auto" style="width: 700px;padding: 40px;">
  <h3>お問い合わせ</h3>
<div class="d-flex flex-column bd-highlight mb-3">
  <div class="form-group">
    <label for="text1">お名前(必須):</label>
    <input type="text" id="name" name="name" class="form-control required" required>
  </div>
  <div class="form-group">
    <label for="text2">件名(必須):</label>
    <input type="text" id="subject" name="subject" class="form-control required" required>
  </div>
  <div class="form-group">
    <label for="text3">所属:</label>
    <input type="text" id="affiliation" name="affiliation" class="form-control" >
  </div>
  <div class="form-group">
    <label for="text4">メールアドレス(必須):</label>
    <input type="text" id="email" name="email" class="form-control required" pattern="/^[-a-z0-9~!$%^&*_=+}{\'?]+(\.[-a-z0-9~!$%^&*_=+}{\'?]+)*@([a-z0-9_][-a-z0-9_]*(\.[-a-z0-9_]+)*\.(aero|arpa|biz|com|coop|edu|gov|info|int|mil|museum|name|net|org|pro|travel|mobi|[a-z][a-z])|([0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}))(:[0-9]{1,5})?$/i" required>
  </div>
  <div class="form-group">
    <label for="textarea1">お問い合わせ内容(必須):</label>
    <textarea id="contents" name="contents" class="form-control required" rows=10 required></textarea>
  </div>
  <p style="text-align: center;padding: 20px;">
    <button type="submit" value="submit" class="btn btn-dark" style="vertical-align: mnamedle;width: 100px;">確認</button>
  </p>
</div>
</div>
<script>
  $('.required').on('blur', function() {
        var error; // エラー用の変数を定義
        var prev = $(this).prev();
        var name = prev.text().slice(0,-5);
        if( $(this).val() === '' ) { // この要素のvalueが空文字だったらエラー
            error = true;
        }
        if( error ) {
            // エラーが見つかった場合
	    if( !$(this).next('span.text-danger').length ) { // この要素の後続要素が存在しない場合
                     $(this).after(`<span class="text-danger">${name}は、必ず指定して下さい。</span>`); // この要素の後にエラーメッセージを挿入
                     $(this).addClass('is-invalid');
		}
        } else {
          // メアド判定
          if ($(this).attr('id') === 'email'){
          if (!$(this).val().match(/^[-a-z0-9~!$%^&*_=+}{\'?]+(\.[-a-z0-9~!$%^&*_=+}{\'?]+)*@([a-z0-9_][-a-z0-9_]*(\.[-a-z0-9_]+)*\.(aero|arpa|biz|com|coop|edu|gov|info|int|mil|museum|name|net|org|pro|travel|mobi|[a-z][a-z])|([0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}))(:[0-9]{1,5})?$/i)) {
            $(this).next('span.text-danger').remove();
            $(this).after('<span class="text-danger">正しいメールアドレスを入力して下さい。</span>');
            $(this).addClass('is-invalid');
          } else { // メアドの形式が合致
            $(this).next('span.text-danger').remove();
            $(this).removeClass("is-invalid");
            $(this).addClass("is-valid");
            } 
          } else {
            // エラーがなかった場合
            $(this).next('span.text-danger').remove();
            $(this).removeClass("is-invalid");
            $(this).addClass("is-valid");
          }
        }
    });
</script>
{% endblock %}
