{% extends "layout.html" %}
{% block content %}
<div class="table-responsive">
  　　<table class="table table-condensed" >
    　　<table class="table table-hover" style="table-layout:fixed;width:100%;">
      <thead>
          <tr>
            {%for k in data[0].keys()%}
              <td>{{k}}</td>
            {%endfor%}

          </tr>
      </thead>
      <tbody>
        {%for d in data%}
          <tr>
            {%for k,v in d.items()%}
              <td style="word-wrap:break-word;">{{v}}</td>
            {%endfor%}
          </tr>
        {%endfor%}
      </tbody>
  </table>
  　　</table>
  </div>
{% endblock %}
